:root {
    --phone-pc: 150px;
    --phoneprint-pc: 133px;
    --phone-align: -142px;

    --phone-phone: 120px;
    --phoneprint-phone: 105px;
    --phone-align-phone: -110px;
    --phone-align-phone-maxwidth-370: -115px;

    /* ---------------tablet--------------- */

    --tablet-pc: 350px;
    --tabletprint-pc: 325px;
    --tablet-align: -338px;

    --tablet-phone: 310px;
    --tabletprint-phone: 290px;
    --tablet-align-phone: 39px;
}

.content_projetos {
    background: linear-gradient(rgba(234, 191, 250, 1)0%, rgba(243, 255, 197, 1) 50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* .projetos {align-items: center;} */

/* ---------------------------projeto-1-------------------------- */

.proj1 {
    display: flex;
    flex-direction: column;
    padding: 5em 0;
    width: fit-content;
}

.phone_tablet {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* --------------------phone------------------- */
.phone {
    display: flex;
    align-items: center;
    z-index: 1;
    list-style: none;
    margin-right: -50px;
}

.phoneImg {
    width: var(--phone-pc);
}

.phonePrintImg {
    width: var(--phoneprint-pc);
    margin-right: var(--phone-align);
    box-shadow: -5px 8px 14px 6px rgba(0, 0, 0, 0.5);
}

.phone:hover .phonePrintImg {
    box-shadow: 15px 15px 14px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

/* --------------------tablet------------------- */

.tablet {
    display: flex;
    align-items: center;
    list-style: none;
}

.tabletImg {
    width: var(--tablet-pc);
    height: auto;
    margin-left: var(--tablet-align);
}

.tabletPrintImg {
    width: var(--tabletprint-pc);
    box-shadow: -5px 8px 14px 6px rgba(0, 0, 0, 0.5);
}

.tablet:hover, .phone:hover {
    scale: 1.3;
    transition: 0.3s;
    z-index: 10;
    cursor: pointer;
    /* background-color: white; */
}

/* .tabletImg:hover, .phoneImg:hover {
    animation: reload 0.5s linear;
} */

.tablet:hover .tabletPrintImg {
    box-shadow: -15px 15px 14px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

/* --------------------tablet------------------- */

.textProj {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 20px 0;
    color: rgba(0, 0, 0, 0.8);
}

.text {
    text-align: center;
    width: 50%;
    padding-bottom: 20px;
    color: black;
}

/* ---------------------------media-------------------------- */

@media (max-width:1024px) {
    .content_projetos {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .phone {
        margin-right: var(--phone-align-phone);
    }

    .tablet:hover, .phone:hover {
        scale: unset;
    }

    .proj1 {
        align-items: center;
    }
}

@media (max-width: 380px) {
    .phoneImg {
        width: var(--phone-phone)
    }

    .phonePrintImg {
        margin-right: var(--phone-align-phone-maxwidth-370);
        width: var(--phoneprint-phone)
    }

    .tabletImg {
        width: var(--tablet-phone);
    }

    .tabletPrintImg {
        margin-right: var(--tablet-align-phone);
        width: var(--tabletprint-phone);
    }
}

/* @keyframes reload {
    0% {
        background-color: unset;
    }

    50% {
        background-color: white;
    }

    100% {
        background-color: unset;
    }
} */